<script src="{{ 'jquery.ui.widget.js' | asset_url }}"></script>
<script src="{{ 'jquery.iframe-transport.js' | asset_url }}"></script>
<script src="{{ 'jquery.fileupload.js' | asset_url }}"></script>
<script src="{{ 'cloudinary-jquery-file-upload.js' | asset_url }}"></script>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        	
        <input name="file" type="file" class="cloudinary-fileupload" data-cloudinary-field="image_id" 
               data-form-data="{ &quot;upload_preset&quot;:  &quot;bqfo1utc&quot;}" >
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    if($.fn.cloudinary_fileupload !== undefined) {
      $.cloudinary.config({ cloud_name: 'walnutandbrass', secure: true});
      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
    }

    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
      console.log(data.secure_url)  
      return true;
    });
  });
</script>